<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sourcelin.blog.mapper.CategoryMapper">
    
    <resultMap type="Category" id="CategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="summary"    column="summary"    />
        <result property="icon"    column="icon"    />
        <result property="orderNum"    column="order_num"    />
        <result property="clickCount"    column="click_count"    />
        <result property="articleCount"    column="article_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCategoryVo">
        select c.id, c.name, c.summary, c.icon, c.order_num, c.click_count, c.create_time, c.update_by, c.update_time,
        (select count(1) from b_article a where a.deleted = 0 and a.status = 2 and a.category_id = c.id) as article_count
        from b_category c
    </sql>

    <select id="selectCategoryList" parameterType="Category" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        <where>  
            <if test="keywords != null and keywords != ''"> and (c.name like concat('%', #{keywords}, '%') or c.summary like concat('%', #{keywords}, '%'))</if>
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="summary != null  and summary != ''"> and c.summary like concat('%', #{summary}, '%')</if>
        </where>
    </select>

    <select id="selectCategoryAll" resultMap="CategoryResult">
        select c.id, c.name, c.summary, c.icon, c.order_num, c.click_count, c.create_time, c.update_by, c.update_time,
        (select count(1) from b_article a
         where a.deleted = 0 and a.status = 2 and a.category_id = c.id) as article_count
        from b_category c
        order by c.order_num asc, c.id asc
    </select>
    
    <select id="selectCategoryById" parameterType="Long" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
        insert into b_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="summary != null">summary,</if>
            <if test="icon != null">icon,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="clickCount != null">click_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="summary != null">#{summary},</if>
            <if test="icon != null">#{icon},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="clickCount != null">#{clickCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCategory" parameterType="Category">
        update b_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="clickCount != null">click_count = #{clickCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCategoryById" parameterType="Long">
        delete from b_category where id = #{id}
    </delete>

    <delete id="deleteCategoryByIds" parameterType="String">
        delete from b_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>